.venv/
data/
results/*
!results/cnn_v1/
!results/cnn_v2/
__pycache__/
dist/
build/
node_modules/
*.zip
local.properties
index_wrong_file_backup.html
nulecho
.vscode/
static/index_internal_trophy.html
.venv-auddet/
AUDDT/
__pycache__/
*.pyc

metrics.prev.json
